


.hero-image-1 {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("./images/run.jpg");
  background-size: cover;
  position: relative;
  text-align: center;
  left: -20%;
  height: 1000px;
  width: 140%;


  }

  .hero-text-1 {
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 10em;
    margin-top: 1em;
    margin-bottom: 0.5em;

}




.button-1 {
color: white !important;
font-size: 35px;
position: absolute;
left: -90px;
top: 190px;
text-transform: uppercase;
text-decoration: none;

padding: 10px;

display: inline-block;
transition: all 0.4s ease 0s;
}


.button-2 {
color: white !important;
font-size: 35px;
position: absolute;
right: -120px;
top: 190px;
text-transform: uppercase;
text-decoration: none;

padding: 10px;

display: inline-block;
transition: all 0.4s ease 0s;
}

/* Choose exercise */

.card-one {
  display: flex;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  grid-gap: 1rem;
}

.card-two {
  display: flex;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  grid-gap: 1rem;
}

.card-three {
  display: flex;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  grid-gap: 1rem;
}

.card-four {
  display: flex;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  grid-gap: 1rem;
}

.card-five {
  display: flex;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  grid-gap: 1rem;
}

.card-six {
  display: flex;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  grid-gap: 1rem;
}


/* Create New Profile */
  .New-user{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

.New-log {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

}

.Custom-regime{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

}


.running-log-b {
  display: flex;
  float: left;
  position: absolute;
  top: 600px;
  left: 180px;
}

.header-text{
  display: flex;
  float: center;
  position: absolute;
  top: 0px;

}


.running-text{

  position: relative;
  bottom: 300px;
  right: 70px;
  top: 150px;
  width: 1000px;
  height: 450px;
  border: 10px solid white;
  float: right;
}

.push-ups{
position: relative;
left: -100px;
top: 0px;
}

.dumbell-row-text{
  position: relative;
  bottom: -80px;
  right: 0px;
}

.dumbbell-row{
  position: relative;
  left: 150px;
  top: 50px;

}

.tricep-text{
  position: relative;
  bottom: -80px;
  right: 150px;
}

.tricep{
  position: relative;
  left: 150px;
  top: 50px;
}

.step-ups-text{
  position: relative;
  bottom: -80px;
  right: 150px;
}

.stepup{
  position: relative;
  left: 180px;
  top: 50px;
}

.squat-text{
  position: relative;
  bottom: -80px;
  right: 180px;

}

.squat{
  position: relative;
  left: 180px;
  top: 50px;
}

.lunges-text{
  position: relative;
  bottom: -100px;
  right: 180px;
}

.lunges{
  position: relative;
  left: 180px;
  top: 50px;
}


.deadlift-text{
  position: relative;
  bottom: -100px;
  right: 180px;
}

.deadlift{
  position: relative;
  left: 180px;
  top: 50px;
}


.superman-text{
  position: relative;
  bottom: -100px;
  right: 180px;
}

.superman{
  position: relative;
  left: 180px;
  top: 50px;
}

.glute-text{
  position: relative;
  bottom: -100px;
  right: 180px;
}

.glute{
  position: relative;
  left: 180px;
  top: 50px;
}


.legs-text{
  position: relative;
  bottom: -100px;
  right: 180px;
}

.legs{
  position: relative;
  left: 180px;
  top: 50px;
}
