.back-img{
  height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

.card-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

  .home-title {
  text-align: center;
  top: 50%;
  width: 100%;
  }

  .New-user{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

.New-log {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

}

.Custom-regime{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

}
