.hero-image-1 {
  position: right;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("./images/ball.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  }

  .hero-text-1 {
    text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;

}

.hero-image-2 {
  position: right;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),  url("./images/dog.jpg");
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  }

  .hero-text-2 {
   text-align: center;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: white;

}

.card-one {
  display: flex;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  grid-gap: 1rem;
}

.card-two {
  display: flex;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  grid-gap: 1rem;
}

.card-three {
  display: flex;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  grid-gap: 1rem;
}

.card-four {
  display: flex;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  grid-gap: 1rem;
}

.card-five {
  display: flex;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  grid-gap: 1rem;
}

.card-six {
  display: flex;
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
  grid-gap: 1rem;
}

.weight-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  left: 10px;
}












  .home-title {
  text-align: center;
  top: 50%;
  width: 100%;
  }

  .New-user{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
  }

.New-log {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

}

.Custom-regime{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;

}

.navbar-brand {
  display: inline;
  float: right;
  padding: 20px;
  margin: 10px;
}
